img {
    max-width: calc(100vw - 20px);
}
/* スマホ */
@media screen and (max-width: 1000px) {
  img {
    max-width: 1000px;
  }
}

footer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

